<!DOCTYPE html>
<html>
  <head>
    <title>Quizikia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="/css/old-bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="visibility: hidden">
    <!-- Navbar
    ================================================== -->
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </button>
          <a class="brand" href="/"></a>
          <% if content_for?(:nav) %>
            <%= yield(:nav) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <p>This line intentionally left blank.</p>
      <%= yield %>

    </div>
  </body>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <% if @disable_386 %>
    <script type="text/javascript">_386 = { fastLoad: true };</script>
  <% else %>
    <script type="text/javascript">_386 = { onePass: true, speedFactor: 3 };</script>
  <% end %>
</html>
